@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
}
@layer base{
  :root{
    --color-text-base:#ffffff;
    --background-color-base:#1E2640;
    --base-bg-color:#E5E5E5;
    --text-color:#000000;
    --text-blue:#146EB4;
    --hover-color:#ffffff5d;
  }
}